# stuff in gitignore
Notes.txt

# downloaded articles to view
/articles

# will just upload final model and submission in the end
/models/*.pkl
/submissions/*.csv
sub_*.csv

# dont need to upload sqllite
data.sqlite

# python junk
/src/__pycache__/*